In [2]:
import pandas as pd

In [3]:
file = 'Punxsy Price Transparency Final (1).csv'
df = pd.read_csv(file)

In [14]:
df = df.rename(columns={
    'Charge Code': 'procedure_code',
    'Description': 'description',
    'Revenue Code': 'rev_code',
    'CPT/HCPCS': 'code'
})

df.columns = df.columns.str.strip()

In [ ]:
df.drop(columns=['Unnamed: 18'], inplace=True)

In [26]:
cols = df.columns.tolist()
cash_index = cols.index('Cash Price')
id_vars = cols[:cash_index]
id_vars.remove('Hospital Price')

value_vars = cols[cash_index:]
value_vars.append('Hospital Price')

df = pd.melt(df, id_vars=id_vars, value_vars=value_vars, var_name='payer_orig', value_name= 'rate')

In [28]:
df['rate'] = df['rate'].str.replace("$", "").str.replace(",", "")

C:\Users\adria\AppData\Local\Temp\ipykernel_41148\2009782644.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['rate'] = df['rate'].str.replace("$", "").str.replace(",", "")

In [29]:
df

,procedure_code,description,rev_code,code,NDC,payer_orig,rate
0,92500DARB,NOT MN PART B,222,NaN,NaN,Cash Price,0.00
1,9250DAR72,IP 2 MIDNIGHT OC 72,555,NaN,NaN,Cash Price,0.00
2,9250DAR44,IP COND CODE 44,666,NaN,NaN,Cash Price,0.00
3,9250DARW2,IP COND CODE W2,777,NaN,NaN,Cash Price,0.00
4,6750016548,"ORTHO GLASS 3""X15' PER INCH",271,NaN,NaN,Cash Price,0.19
...,...,...,...,...,...,...,...
80530,NaN,DRG Package 982,NaN,NaN,NaN,Hospital Price,16429.80
80531,NaN,DRG Package 987,NaN,NaN,NaN,Hospital Price,11202.99
80532,NaN,DRG Package 988,NaN,NaN,NaN,Hospital Price,7864.22
80533,NaN,DRG Package 989,NaN,NaN,NaN,Hospital Price,10086.90
80534,NaN,NaN,NaN,NaN,NaN,Hospital Price,NaN